main{
  display: grid;
  grid-template-areas: 
  "header header"
  "article section"
  "footer footer";
}

article{
  grid-area: article;
  place-items: center;
}

h1{
  color: var(--title);
  z-index: 999999;
  margin: 100px;
  margin-top: 150px;
  text-align: center;
  font-family: 'Rubik Moonrocks', cursive;
}

#title{
  margin: 40px;
}

p{
font-family: 'Libre Baskerville', serif;
margin: 50px;
color: var(--text);
}

section{
  grid-area: section;
}

img{
  width: 500px;
  margin-left: 100px;
}

#lions{
  margin-top: 150px;
}

